<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ name }}</title>
</head>
<body>
    <h1>Hello my name is {{ name }}</h1>
    <img src="https://i.imgur.com/WiH5We8.jpg" alt="Mikhael">
    <article>NPM : {{ npm }}</article>
    <article>I am {{ age }} years old</article>
    <article>I'm studying in University of Indonesia, majoring in Computer Science</article>
    <article>My hobby is playing games and listening to music</article>
    <br>
    <br>
    <br>
    <h1>He is Daniel Anderson Estefan</h1>
    <article><i>An ordinary guy with an ordinary life</i></article>
    <article>NPM: 1706039811</article>
    <article>He is 19 years old</article>
    <article>He is studying in University of Indonesia, majoring in Computer Science</article>
    <article>His hobby is reading and playing video games</article>
</body>
</html>
